@model ProductJoinSellerViewModel
@{
    ViewData["Title"] = "Index";
}


@{
    int x = 0;
    var p = Model.Products;
    var s = Model.Sellers;

}

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @while(x < Model.Products.Count())
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="/img/Products/@p[x].Image" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@p[x].Name</h5>
                                <!-- Product price-->
                               
                                
                                @{
                                    var num = @p[x].SellerId;
                                }
                                
                                <p >  </p>

                                <p> @p[x].Category </p>
                                <p> $@p[x].Price </p>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                        </div>
                    </div>
                </div>

               x++;
                
            }
        </div>
    </div>
</section>

